.bill-single{
    width: 100%;
    margin-top: 2%;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(183,183,183,0.22); 
    box-shadow: 5px 5px 15px -1px rgba(183,183,183,0.22);
    padding: 2% 4%;
}
.data{
    width: 100%;
}
.data span{
    font-size: .9em;
}
.info-box{
    /* padding-left: 5%; */
    width: 50%;
    /* background: red; */
    float: left;
}
.info-title{
    display: block;
    font-weight: 900;
    color: #767677;
    font-size: 1.3em;
    margin-bottom: 1%;
    margin-top: 5%;
}

.bills-action{
    width: 100%;
    /* padding: 2%; */
    /* background: red; */
}
.bills-buttons{
    float: right;
}
.bills-buttons a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 5px;
    background: #7197fe;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(183,183,183,0.22); 
    box-shadow: 5px 5px 15px -1px rgba(183,183,183,0.22);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}
.red{
    background: #ED303C;
}